
/*BODY*/
.body {
    display: flex;
    justify-content: center;
  }
  
  .form-label {
    width: 100px;
    margin-right: 15px;
    text-align: right;
  }

  .storeName, .category_delivery, .deliveryAddress, .detailedAddress, .totalDelivery, .numPeople, .deadlineDelivery, .explanation {
    background-color: var(--sub_orange);
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
  }

  .storeName {
    width: 363px;
    height: 61px;
  }

  .category_delivery, .detailedAddress {
    width: 363px;
    height: 31px;
  }

  .deliveryAddress {
    width: 238px;
    height: 31px;
  }

  .detailedAddress {
    margin-left: 115px;
    display: flex;
    text-align: center;
  }

  .searchAddress {
    margin-left: 24px;
    width: 101px;
    height: 31px;
    border: none;
    background: var(--main_orange);
    color: white;
    border-radius: 5px;
  }
  
  .totalDelivery, .numPeople, .deadlineDelivery {
    width: 158px;
    height: 31px;
  }

  #won, #myeong {
    margin-left: 15px;
  }

  .explanation {
    width: 363px;
    height: 201px;
  }

  .submit {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .post_delivery {
    width: 363px;
    height: 31px;
    background: var(--main_orange);
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 800;
    margin-top: 27px;
    margin-bottom: 46px;
    margin-left: 32px;
  }