
/*BODY*/
.body {
    display: flex;
    justify-content: center;
  }
  
  .form-label {
    width: 100px;
    margin-right: 15px;
    text-align: right;
  }

  .title, .category, .item, .foodImgUpload, .foodCondition, .expiration_date, .deadline {
    background-color: var(--sub_orange);
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
  }

  #item {
    text-align: start;
    margin-left: 10px;
    width: 35px;
  }

  .title {
    width: 363px;
    height: 61px;
  }

  .category, .item, .expiration_date, .deadline {
    width: 134px;
    height: 31px;
    margin-right: 30px;
  }

  .foodImgUpload {
    width: 110px;
    height: 110px;
  }

  .foodCondition {
    width: 363px;
    height: 132px;
  }

  .deadline {
    margin-left: 20px;
  }

  #expir_date {
    width: 100px;
    text-align: right;
    text-align: start;
    width: 50px;
  }
  
  .submit {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .post_sharing {
    width: 363px;
    height: 31px;
    background: var(--main_orange);
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 800;
    margin-top: 27px;
    margin-bottom: 46px;
  }