* {
  font-family: NanumSquareRound;
}
header {
  height: 5.438rem;
  width: 100%;
  padding: 1.375rem 0;
  display: grid;
  grid-template-columns: 11rem 31rem 12rem;
  justify-content: center;
  align-items: center;
}

/**
* headerLogo
*/
header > .header_logoImg {
  width: 4.75rem;
}

/**
* nav
*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25.625rem;
}

.nav_link {
  text-decoration-line: none;
  color: black;
  font-size: 0.938rem;
  font-weight: 700;
}

/**
* profile
*/
.header_profile {
  height: 2.625rem;
  display: grid;
  grid-template-columns: 3.5rem auto auto auto;
  grid-template-rows: repeat(2, 1.313rem);
  align-items: center;
  justify-content: space-between;
}

.header_profileImg {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  width: 2.625rem;
}

.profile_link {
  height: 0.75rem;
  margin-right: 0.375rem;
  text-decoration-line: none;
  color: black;
  font-size: 0.625rem;
  font-weight: 700;
}

#logoutLink {
  border-right: solid 0.063rem;
  border-left: solid 0.063rem;
  text-align: center;
  padding: 0 0.313rem;
}

.profile_nickName {
  grid-column: 2 / 5;
  width: 8.313rem;
  color: #ff8327;
  font-size: 0.625rem;
  font-weight: 700;
  text-decoration-line: none;
}

/**
* hover
*/
.hover_area {
  width: 100%;
  height: auto;
  position: absolute;
  background-color: rgba(255, 131, 39, 0.75);
}

.hover {
  display: grid;
  grid-template-columns: 4rem 5rem 4rem 6rem 4rem;
  column-gap: 0.8rem;
  margin-left: 32.35%;
  padding-top: 0.9rem;
}

.hover > article {
  display: flex;
  flex-direction: column;
}

.hover > article > a {
  margin-bottom: 0.6rem;
  text-decoration-line: none;
  color: white;
  font-size: 0.75rem;
  font-weight: 700;
}

/**
* main
*/
main {
  width: 100%;
}
