.pictureArea {
  width: 54rem;
  height: 15.75rem;
  background-color: #FFEDCC;
}

.main_container {
  display: grid;
  grid-template-columns: repeat(3, 16.875rem);
  grid-template-rows: repeat(2, 16.875);
  column-gap: 1.6875rem;
  row-gap: 1.4375rem;
}

.pictureArea {
  grid-column: 1 / 4;
}

.main_sharingBtn, .main_groupBuyingBtn, .main_dutchPayBtn {
  width: 16.875rem;
  height: 16.875rem;
  background-color: #FFEDCC;
  border-radius: 0.3125rem;
}