.sideBar .category {
    font-size: 0.875rem;
    font-weight: 700;
    padding-left: 1rem;
    margin-bottom: 0.313rem;
    height: 1.563rem;
  }
  .sub-category-box {
    margin: 0rem 0.875rem 0.563rem;
    background-color: white;
    border-radius: 0.27rem;
    display: grid;
  }
  .sub-category {
    list-style: none;
    padding-left: 0.595rem;
    padding-top: 0.219rem;
    height: 1.352rem;
    font-size: 0.625rem;
  }
  .toggleClose {
    text-align: right;
    width: 0.625rem;
  }
  .toggleOpen {
    text-align: right;
    width: 0.625rem;
  }
  .category > div {
    display: grid;
    grid-template-columns: 10fr 1fr;
    align-items: center;
  }