@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main_orange: #ff8327;
  --sub_orange: #ffedcc;
  --background: #fffaf3;
  background-color: var(--background);
}

main {
  background-color: var(--background);
  font-family: NanumSquareRound;
}
