.myWriting_title {
  width: 100%;
  background-color: var(--sub_orange);
}
.myWriting_list {
  display: grid;
  grid-template-columns: repeat(3, 11.875rem);
  grid-template-rows: repeat(2, 16.438rem);
  column-gap: 1.438rem;
  row-gap: 1.25rem;
  align-content: center;
  justify-content: center;
}

.myWriting_list .item {
  background-color: var(--main_orange);
  width: 11.875rem;
  height: 16.438rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 8fr 1fr 1fr 1fr;
  row-gap: 0.346rem;
  column-gap: 0.415rem;
  padding: 0.938rem;
  font-size: 0.688rem;
  box-shadow: 0 0.125rem 0.188rem 0 rgba(0, 0, 0, 0.25);
}

.myWriting_list .item_image,
.myWriting_list .item_title,
.myWriting_list .item_area,
.myWriting_list .item_deadline {
  background-color: white;
  border-radius: 0.346rem;
  text-align: center;
  display: grid;
  align-content: center;
  justify-content: center;
}

.myWriting_list .item_image,
.myWriting_list .item_title {
  grid-column: 1 / 3;
}

.myWriting_list .item_date {
  text-align: right;
}

.myWriting_pagination {
  grid-column: 2 / 3;
  display: grid;
  text-align: center;
  align-content: center;
}
